

.heading{
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}



footer {
    
    background-color: darkred;
    height: 100px;
    
}

#foot {
    font-size: larger;
    text-align: center;
}


body{
    background-color: grey;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    text-align: center;
}